<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <center>
        <h1>selfjoins</h1>
        <table border="3px">
            <tr>
                <th>Emp number </th>
                <th>Emp name</th>
                <th>Manager name</th>
                <th>Salary</th>
                <th>Commssion</th>
                <th>job</th>
            </tr>

            {% for emo in EMPOBJECTS  %}
                <tr>
                    <th>{{emo.empno}}</th>
                    <th>{{emo.ename}}</th>
                    <th>{{emo.mgr.ename}}</th>
                    <th>{{emo.sal}}</th>
                    <th>{{emo.comm}}</th>
                    <th>{{emo.job}}</th>
                </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>